<tr>
  <td>&nbsp;</td>
  <td>{{input type="input" value=line.quantity classNames="form-control input-lg"}}</td>
  <td>{{view "select" value=line.category content=productCategories classNames="form-control input-lg"}}</td>
  <td class="text-right">{{input type="input" value=line.cost classNames="form-control input-lg"}}</td>
  <td class="text-right">{{line.tax}}</td>
  <td class="text-right">{{calcTotal}}</td>
</tr>
