{{! templates/order.hbs }}
<div class="row form-group-lg" style="padding: 10px; background-color: #FF9900;">
  <div class="col-sm-5">
    {{input type="input" value=model.customerName classNames="form-control input-lg" placeholder="Name"}}
  </div>
  <div class="col-sm-5">
    {{input type="input" value=model.customerEmail classNames="form-control input-lg" placeholder="Email"}}
  </div>
  <div class="col-sm-2">
    {{input type="input" value=model.zipCode classNames="form-control input-lg" placeholder="Zip"}}
  </div>
</div>

<div style="border-bottom: 3px solid gray" class="row form-group-lg" style="padding: 10px; background-color: #FF9900;">
  <div class="col-sm-5">
    {{view "select" prompt="Choose clerk..." value=salesClerk content=controllers.application.clerkNames classNames="form-control"}}
  </div>
  <div class="col-sm-5">
    {{view "select" prompt="Choose payment method..." value=paymentType content=controllers.application.payMethods classNames="form-control"}}
  </div>
  <div class="col-sm-2">
    <label><h3 class="text-center">{{model.orderNumber}}</h3></label>
  </div>
</div>

<table class="table table-bordered" style="border: 2px;">
  <tbody>
    <tr>
      <td class="col-sm-1"></td>
      <td class="col-sm-1"><h3>Qty</h3></td>
      <td class="col-sm-5"><h3>Category</h3></td>
      <td class="col-sm-1 text-right" ><h3>Cost</h3></td>
      <td class="col-sm-1 text-right"><h3>Tax</h3></td>
      <td class="col-sm-1 text-right"><h3>Total</h3></td>
    </tr>

    {{!#each orderline in orderlines}}
      {{!order-line line=orderline tagName=''}}
    {{!/each}}

    <tr>
      <td class="col-sm-1 text-center">
        <button type="button" {{action 'newOrderLine'}} class="buttonVisible btn btn-default btn-lg plusButton">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </td>
      <td class="col-sm-11" colspan="5">&nbsp;</td>
    </tr>
    <tr>
      <td class="col-sm-10 text-center" colspan="5">
        <button id="completeOrderButton" class="btn completeOrderButton" onclick="completeOrderDialog(); return false;">
          COMPLETE ORDER
        </button>
      </td>
      <td class="col-sm-2 text-right lead">{{model.orderTotal}}</td>
    </tr>
  </tbody>
</table>

<button {{action 'openModal'}}>MODAL</button><br/>
<button {{action 'newOrder'}}>NEW ORDER</button>
